<h1 class="section-titles text-center">Settings</h1>


<div class="container">

	<div class="row" id="tags-section-user">
		<div class="col-md-12 text-left">
			<h4>Your Event Interests:</h4>
			<% Tag.all.sort_by { |t| t.name }.each do |tag| %>
			<%= render partial: 'interests/interest_button', locals: {tag: tag} %>
			<% end %>
		</div>

	</div>

	<%= form_for current_user, remote: true do |f| %>
	<% if current_user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(current_user.errors.count, "error") %>
			prohibited this @user from being saved:</h2>

			<ul>
				<% current_user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

		<div class="form-group" id="hidden_fields">
			<div class="col-xs-3">
				<%= f.label :Phone_Number, "Want to receive SMS alerts about events? Please enter your mobile phone number:" %>
				<%= f.text_field :phone, class: "form-control" %>
				<div class="form-inline">
					<%= f.label :Email_alert_time, "How far in advance do you want to receive text reminders? (Leave 0 for never)" %>
					<%= f.number_field :text_time_num, class: "form-control" %>
					<%= f.select :text_time_unit, ['days', 'hours', 'minutes']%>
				</div>
				<div class="form-inline">
					<%= f.label :Email_alert_time, "How far in advance do you want to receive email reminders at #{current_user.email}? (Leave 0 for never)" %>
					<%= f.number_field :email_time_num, class: "form-control" %>
					<%= f.select :email_time_unit, ['days', 'hours', 'minutes']%>
				</div>
			</br>
				<div class="actions">
					<%= f.submit "Update mobile phone number", class: "btn btn-default btn-transparent btn-submit-user submit-bring-way-down"%>
				</div>
			</div>
		</div>

		<% end %>


	<div class="col-md-12">
		<%= link_to("Subscribe to Calendar Feed", "webcal://brandeisevents.com/users/#{current_user.calendar_hash}/calendar-sync", :class=>"btn btn-default btn-transparent", :id =>"calendar-feed-button" ) %>
		<%="  (Or manually subscribe using this link: webcal://brandeisevents.com/users/#{current_user.calendar_hash}/calendar-sync)"%>
		<br/>
	</div>

	</div>

	<script type="text/javascript">
	//Phone appears if checkbox is cliked or not. This is for if a user unselects adding a phone number it will delte it from the field.
	$(function () {

		// Get the form fields and hidden div
		var checkbox = $("#trigger");
		var hidden = $("#hidden_fields");

		// Hide the fields. hidden.hide();
		checkbox.change(function () {
			// Check to see if the checkbox is checked. If it is, show the fields and populate the input. If not, hide the fields.
			if (checkbox.is(':checked')) {
				// Show the hidden fields.
				hidden.show();
			} else {
				// Make sure that the hidden fields are indeed hidden.
				hidden.hide();
				//if hidden then erases value
				$("#hidden_field").val("");
			}
		});
	});
	</script>
