<%= render "layouts/header" %>
<p id="notice"><%= notice %></p>

<div class="container">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="checkbox" id="trigger" name="question">  Subscribe to text message alerts for events


      <div class="field" id="hidden_fields">
        <%= f.label :Phone_Number %>
        <%= f.text_field :phone %>
    </div>


  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>


  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
  </div>







  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>


<script type="text/javascript">
$(function() {

  // Get the form fields and hidden div
  var checkbox = $("#trigger");
  var hidden = $("#hidden_fields");

  // Hide the fields.
  hidden.hide();
  checkbox.change(function() {
    // Check to see if the checkbox is checked.
    // If it is, show the fields and populate the input.
    // If not, hide the fields.
    if (checkbox.is(':checked')) {
      // Show the hidden fields.
      hidden.show();
    } else {
      // Make sure that the hidden fields are indeed
      // hidden.
      hidden.hide();
//if hidden then erases value
      $("#hidden_field").val("");
    }
  });
});

</script>
