<%= render "layouts/header" %>
<p id="notice"><%= notice %></p>

<div class ="container">

<% provide(:title, @user.first_name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>

        <%= @user.first_name %>
      </h1>
    </section>
  </aside>
</div>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Is host:</strong>
  <%= @user.is_host %>
</p>
<p>RSVP'D Events </p>
<% @user.rsvps.where("choice = 1").each do |r| %>
<%= r.event.name %>
<% end %>

<p>Interested Events </p>
<% @user.rsvps.where("choice = 2").each do |r| %>
<%= r.event.name %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>
