

<section class="events_all_section">
	<div class="container">
		<div class="top-thumbnail text-center">
			<%= image_tag "All-Event.png", class:"img-responsive" %>
			<div class="top-caption" id = "top-image">
				<%= render partial: 'top_caption' %>
			</div>
		</div>



		<div class="row">
			<div class=" events_list">
				<div class="col-md-2 left-side-column">
					<%= sidebar_date %>
					<%= sidebar_tags %>
					<%= sidebar(@locations) %>
					<hr>

				</div>
			</div>
			<div class="col-md-10">
	 <div class = "form-group">

	 <%= form_tag(search_path, :method => "get", remote: true) do %>
	 <%= text_field_tag :event, params[:event], placeholder: "Search here for anything", class: "form-control" %>
	 <%= submit_tag 'Search', :class => 'btn btn-default' %>
	 <% end %>
			<div id="events-happening">
				<%= render partial: 'events/events_exist' %>
			</div>

			</div>

			<div class="text-center"> <%= will_paginate %> </div>

		</section <!-- /.row --> <p id="notice"><%= notice %></p>
