<%= render "layouts/header" %>

<section class="events_all_section">
	<div class="container">
		<div class="top-thumbnail text-center">
			<%= image_tag "All-Event.png", class:"img-responsive" %>
			<div class="top-caption">
				<h1><%= top_image_text %></h1>
			</div>
		</div>



		<div class="row">
			<div class=" events_list">
				<div class="col-md-2 left-side-column">
					<%= sidebar_date %>
					<%= sidebar_tags %>
					<%= sidebar(@locations) %>
					<hr>

				</div>
			</div>
			<div class="col-md-10">
			 <form name="search" remote: "true" action=<%=search_path%>>
	 <div class = "form-group">
		  <%= text_field_tag :event, "",  :placeholder=>'Search Here for Anything', class:"form-control", onchange:"AJAXSearchForm();" %>
	 </div>
     </form>
			<div id="events-happening">
				<%= render partial: 'events/events_exist' %>
			</div>

			</div>

			<div class="text-center"> <%= will_paginate %> </div>

		</section <!-- /.row --> <p id="notice"><%= notice %></p>
