<div class="landing-page section large transparent dark text-center slider">
	<div class="container slider-text">
		<h1>Discover
			<span style="color:#42B5E8">Brandeis University</span>
		</h1>
		<p>
			Find great events to have fun, learn, eat, or shop - All from the Brandeis Community.
		</p>
		<%= render 'search', locals: {locations: @locations} %>
	</div>
	<!-- end .container -->
</div>
<!-- end .section -->

<% if logged_in? %>
<!-- Projects Row -->
<section class="your-events-section">
	<div class="container ">
		<h3 class="text-center">Events for you</h3>
		<hr>
		<div class="col-md-12">
			<div class="row event_row events-home">
				<% @top_events.each do |event| %>
				<%= render partial: 'list_event', locals: {event: event, col_length: "col-md-3"} %>
				<% end %>
			</div>
		</div>

	</div>
</div>
</section>
<% end %>

<section class="events_section dark-section">
<div class="container events_section">

	<div class="section light">

		<h2 class="text-center">What are you interested in?</h2>
		<h3 class="text-center">
			<small>Explore some of the best events that Brandeis has to offer including club meetings and campus-wide events.</small>
		</h3>
		<div class="row" style="padding-top:10px;">
			<div class="col-md-3 col-sm-6">

				<a href=<%=events_path(:tag => @top_tags[0][2])%>
					class="category-box" style='background-image: url(<%=image_url("tags/#{@top_tags[0][1].downcase}.png")%>);'>
					<div class="inner">
						<span class="number"><%=@top_tags[0][0]%></span>
						<span class="title tags"><%=@top_tags[0][1]%></span>
					</div>
					<!-- end .inner -->
				</a>
				<!-- end .category-box -->
			</div>
			<!-- end .col-md-3 -->
			<div class="col-md-3 col-sm-6">
				<a href=<%=events_path(:tag => @top_tags[1][2])%>
					class="category-box" style="background-image: url(<%=image_url("tags/#{@top_tags[1][1].downcase}.png")%>);">
					<div class="inner">

						<span class="number"><%=@top_tags[1][0]%></span>
						<span class="title tags"><%=@top_tags[1][1]%></span>
					</div>
					<!-- end .inner -->
				</a>
				<!-- end .category-box -->
			</div>
			<!-- end .col-md-3 -->
			<div class="col-md-3 col-sm-6">
				<a href=<%=events_path(:tag => @top_tags[2][2])%>
					class="category-box" style="background-image: url(<%=image_url("tags/#{@top_tags[2][1].downcase}.png")%>);">
					<div class="inner">
						<span class="number"><%=@top_tags[2][0]%></span>
						<span class="title tags"><%=@top_tags[2][1]%></span>
					</div>
					<!-- end .inner -->
				</a>
				<!-- end .category-box -->
			</div>
			<!-- end .col-md-3 -->
			<div class="col-md-3 col-sm-6">
				<a href=<%=events_path(:tag => @top_tags[3][2])%>
					class="category-box" style="background-image: url(<%=image_url("tags/#{@top_tags[3][1].downcase}.png")%>);">
					<div class="inner">
						<span class="number"><%=@top_tags[3][0]%></span>
						<span class="title tags"><%=@top_tags[3][1]%></span>
					</div>
					<!-- end .inner -->
				</a>
				<!-- end .category-box -->
			</div>
			<!-- end .col-md-3 -->
			<div class="col-sm-6">
				<a href=<%=events_path(:tag => @top_tags[4][2])%>
					class="category-box" style="background-image: url(<%=image_url("tags/#{@top_tags[4][1].downcase}.png")%>);">
					<div class="inner">
						<span class="number"><%=@top_tags[4][0]%></span>
						<span class="title tags"><%=@top_tags[4][1]%></span>
					</div>
					<!-- end .inner -->
				</a>
				<!-- end .category-box -->
			</div>
			<!-- end .col-sm-6 -->
			<div class="col-md-3 col-sm-6">
				<a href=<%=events_path(:tag => @top_tags[5][2])%>
					class="category-box" style="background-image: url(<%=image_url("tags/#{@top_tags[5][1].downcase}.png")%>);">
					<div class="inner">
						<span class="number"><%=@top_tags[5][0]%></span>
						<span class="title tags"><%=@top_tags[5][1]%></span>
					</div>
					<!-- end .inner -->
				</a>
				<!-- end .category-box -->
			</div>
			<!-- end .col-md-3 -->
			<div class="col-md-3 col-sm-6">
				<a href=<%=events_path(:tag => @top_tags[6][2])%>
					class="category-box" style="background-image: url(<%=image_url("tags/#{@top_tags[6][1].downcase}.png")%>);">
					<div class="inner">
						<span class="number"><%=@top_tags[6][0]%></span>
						<span class="title tags"><%=@top_tags[6][1]%></span>
					</div>
					<!-- end .inner -->
				</a>
				<!-- end .category-box -->
			</div>

		</div>

		<!-- end .col-md-3 -->

		<!-- end .row -->
		<div class="text-center">
			<%= button_to "All Events", events_path, class: "btn btn-default btn-transparent", :method => "get"  %>
		</div>
		<!-- end .text-center -->

		<!-- end .container -->

		<!-- end .inner -->
	</div>
</section>
<!-- end .section -->

<!-- /.row -->

<!-- Projects Row -->
<div class="container top_events_section" style="padding-bottom: 50px">

	<h3 class="text-center">Top Events</h3>
	<hr>
	<div class="col-md-12">
		<div class="row event_row events-home" style="padding-bottom:60px;">
			<% @top_events.each do |event| %>
			<%= render partial: 'events/list_event', locals: {event: event, col_length: "col-md-3"} %>
			<% end %>
		</div>
	</div>

</div>

<script type="text/javascript">

	var j = jQuery.noConflict();

	j(document).ready(function () {

		j('#datetimepicker1').datetimepicker({format: 'MM/DD/YYYY'});

	})
</script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
	$(function () {
		var availableTags = <%=raw @items%>;
		$("#search-complete").autocomplete({source: availableTags});
	});

	$(function () {
		var availableTags = <%=raw @locations%>;
		$("#location").autocomplete({source: availableTags});
	});
</script>

<script>
	$(document).ready(function () {

		$('ul a').click(function () {
			var $anchor = $(this);

			$('html, body').animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 2000);
			return false;
			helpers : {}
		});
	});
</script>
<script>
	//for automatic loading since block of next code is only for scrolling
	$(document).ready(function () {
		var logo_scrolling = document.getElementById('logo_scrolling');
		$('#nav').removeClass('navbar-default');
		$('#nav').addClass('navbar-transparent');
		logo_scrolling.style.display='block';
	});
</script>
<script>

	window.onscroll = function () {
		var nav = document.getElementById('nav');
		var logo_scrolling = document.getElementById('logo_scrolling');
		var logo = document.getElementById('logo');
		var logo_text = document.getElementById('logo_text');
		var navbar_brand_link = document.getElementById('navbar-brand-link');
		if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
			console.log("is a mobile device")
			nav.classList.add("navbar-default");
			nav.classList.remove("navbar-transparent");
			navbar_brand_link.classList.add("hidden");
			logo_text.classList.add("logo_text_mobile");
			logo.classList.add("hidden");
		} else {
			if (window.pageYOffset > 50 && window.location.pathname === '/') {
				console.log("SHOW NAVBAR :", window.pageYOffset);
				nav.classList.add("navbar-default");
				nav.classList.remove("navbar-transparent");
				logo_scrolling.style.display = 'block';
			} else if (window.pageYOffset <= 50 && window.location.pathname === '/'){
				console.log("HIDE NAVBAR :", window.pageYOffset);
				nav.classList.remove("navbar-default");
				nav.classList.add("navbar-transparent");
				logo_scrolling.style.display = 'none';
			}
		}
	}
</script>

<style>
	.tags {
		font-family: Helvetica;
	}
	.events-home img {
		height: 150px;
	}

</style>
</html>
