<%= render "layouts/header" %>


<div class="section large transparent dark text-center slider">
	<div class="container slider-text">
		<h1>Discover <span style="color:#42B5E8">Brandeis University</span></h1>
		<p>
			Find great events to have fun, learn, eat, or shop - All from the Brandeis Community.
		</p>
		<%= render 'search', locals: {locations: @locations} %>
	</div>
	<!-- end .container -->
</div>
<!-- end .section -->


<!-- Projects Row -->
<section class="your-events-section">
<div class="container ">
	<h3 class="text-center">Events for you</h3>
	<hr>
	<div class="col-md-12">
		<div class="row event_row">
			<% @top_events.each do |event| %>
			<%= render partial: 'list_event', locals: {event: event, col_length: "col-md-3"} %>
			<% end %>
		</div>
	</div>

</div>
</div>
</section>


<section class="events_section dark-section">
	<div class="container events_section">

		<div class="section light">

			<h2 class="text-center">What are you interested in?</h2>
			<h3 class="text-center">
				<small>Explore some of the best events that Brandeis has to offer including club meetings and campus-wide events.</small>
			</h3>
			<div class="row" style="padding-top:10px;">
				<div class="col-md-3 col-sm-6">
					<a href="" class="category-box" style="background-image: url('http://explorecity.wecookcode.com/demo/images/category01.jpg');">
						<div class="inner">
							<span class="number">8</span>
							<span class="title">Cinema</span>
						</div>
						<!-- end .inner -->
					</a>
					<!-- end .category-box -->
				</div>
				<!-- end .col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<a href="" class="category-box" style="background-image: url('http://explorecity.wecookcode.com/demo/images/category02.jpg');">
						<div class="inner">

							<span class="number">36</span>
							<span class="title">Food</span>
						</div>
						<!-- end .inner -->
					</a>
					<!-- end .category-box -->
				</div>
				<!-- end .col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<a href="" class="category-box" style="background-image: url('http://explorecity.wecookcode.com/demo/images/category03.jpg');">
						<div class="inner">
							<span class="number">26</span>
							<span class="title">Drink</span>
						</div>
						<!-- end .inner -->
					</a>
					<!-- end .category-box -->
				</div>
				<!-- end .col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<a href="" class="category-box" style="background-image: url('http://explorecity.wecookcode.com/demo/images/category04.jpg');">
						<div class="inner">
							<span class="number">16</span>
							<span class="title">Politics</span>
						</div>
						<!-- end .inner -->
					</a>
					<!-- end .category-box -->
				</div>
				<!-- end .col-md-3 -->
				<div class="col-sm-6">
					<a href="" class="category-box" style="background-image: url('http://explorecity.wecookcode.com/demo/images/category05.jpg');">
						<div class="inner">
							<span class="number">12</span>
							<span class="title">Nightlife</span>
						</div>
						<!-- end .inner -->
					</a>
					<!-- end .category-box -->
				</div>
				<!-- end .col-sm-6 -->
				<div class="col-md-3 col-sm-6">
					<a href="" class="category-box" style="background-image: url('http://explorecity.wecookcode.com/demo/images/category06.jpg');">
						<div class="inner">
							<span class="number">4</span>
							<span class="title">Local</span>
						</div>
						<!-- end .inner -->
					</a>
					<!-- end .category-box -->
				</div>
				<!-- end .col-md-3 -->
				<div class="col-md-3 col-sm-6">
					<a href="" class="category-box" style="background-image: url('http://explorecity.wecookcode.com/demo/images/category07.jpg');">
						<div class="inner">
							<span class="number">39</span>
							<span class="title">Shop</span>
						</div>
						<!-- end .inner -->
					</a>
					<!-- end .category-box -->
				</div>

			</div>

			<!-- end .col-md-3 -->

			<!-- end .row -->
			<div class="text-center">
				 <%= button_to "All Events", events_path, class: "btn btn-default btn-transparent"  %>
			</div>
			<!-- end .text-center -->

			<!-- end .container -->

			<!-- end .inner -->
		</div>
	</section>
	<!-- end .section -->


	<!-- /.row -->

	<!-- Projects Row -->
	<div class="container top_events_section" style="padding-bottom: 50px">

		<h3 class="text-center">Top Events</h3>
		<hr>
		<div class="col-md-12">
			<div class="row event_row">
				<% @top_events.each do |event| %>
				<%= render partial: 'events/list_event', locals: {event: event, col_length: "col-md-3"} %>
				<% end %>
			</div>
		</div>

	</div>






	<script type="text/javascript">

		var j = jQuery.noConflict();

		j(document).ready(function () {

			j('#datetimepicker1').datetimepicker();

		})
	</script>

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<script>
		$(function () {
			var availableTags = <%=raw @items%>;
			$("#search-complete").autocomplete({source: availableTags});
		});

		$(function () {
			var availableTags = <%=raw @locations%>;
			$("#location").autocomplete({source: availableTags});
		});
	</script>



	<script>
		$(document).ready(function () {

			$('ul a').click(function () {
				var $anchor = $(this);

				$('html, body').animate({
					scrollTop: $($anchor.attr('href')).offset().top
				}, 2000);
				return false;
				helpers : {}
			});
		});
	</script>
<script>
// window.onload = function() {
// document.getElementById('nav').classList.remove("navbar-default");
// document.getElementById('nav').classList.add("navbar-transparent");
// };

$(document).ready(function(){
$('#nav').removeClass('navbar-default');
$('#nav').addClass('navbar-transparent');

});
</script>
	<script>

	window.onscroll = function () {
		var nav = document.getElementById('nav');

		if (window.pageYOffset > 50) {
			nav.classList.add("navbar-default");
			nav.classList.remove("navbar-transparent");
		} else {
			nav.classList.remove("navbar-default");
			nav.classList.add("navbar-transparent");
		}
	}
</script>

</html>
