<%= render "layouts/header" %>

<section class="events_all_section">
    <div class="container">
        <div class="container top_page_photo">
            <%= image_tag "All-Event-copy_02.png" %>
        </div>
        <%= search_bar %>

        <div class="row">
        <div class=" events_list">
            <div class="col-md-2 left-side-column">
                <%= sidebar(@locations) %>
                <%= sidebar_date %></div>
            </div>
          <div class="col-md-10">
            <div class="row event_row">
              <% @events.each do |event| %>
                <%= list_event(event) %>
                <% end %>
            </div>
          </div>

					<div class="text-center"> <%= will_paginate %> </div>

        </section <!-- /.row --> <p id="notice"><%= notice %></p>
</body>

</html>
