<div class="container">
	<div class="row">
		<% if @event.start < Time.now %>
		<div class="alert alert-warning">
			<strong>This event has already taken place!</strong>
			Please view upcoming events
			<%= link_to "Here", events_path %>
		</div>
		<% end %>

		<div class="col-md-8">
			<div class="top-image">
				<% if @event.event_image_file_name.nil? %>
				<% if @event.image_id.blank? %>
				<%= image_tag "missing_large.png", class: "event-top-image" %>
				<%else %>
				<%= image_tag "#{@event.image_id}", class: "event-top-image" %>
				<% end %>
			<% else %>
				<%= image_tag @event.event_image(:large), class: "event-top-image"%>
				<% end %>
			</div>
		</div>
		<div class="col-md-4">
			<h2><%= @event.name.html_safe%></h2>


			<% if logged_in? %>
			<div class="center-block">
				<div class="btn-group pull-left rsvp-button-group" role="group" aria-label="...">
					<%= render partial: 'rsvp_button', locals: {event: @event} %>
				</div>
			</div>

			<%else%>
			<div class="center-block" role="group" aria-label="...">
					<div class="btn-group pull-left rsvp-button-group" role="group" aria-label="...">
						<p>
							<%=button_to "Login", user_saml_omniauth_authorize_path, class: rsvp_button_color%>
							to RSVP to this event!
						</p>
				</div>
			</div>
			<%end%>
		</div>
	</div>

	<div class="row main_body">
		<div class="col-md-2 individual_event_sidebar">

			<%= sidebar_individual_event %>
			<%if logged_in?%>
			<button class="btn btn-default btn-inverse " data-toggle="modal" data-target="#myModal">RSVP List </button>
			<%end%>
			<%= social_share_button_tag(@event.name, :url =>"https://www.deistoday.com/events/#{@event.id}") %>
			</div>
		<div class="col-md-10 event-description">
			<% if !@event.description.nil? %>
			<%= @event.description.html_safe %>
		<% else %>
			<%= "This event has no description." %>
			<% end %>

			<div class=" tags-section">

				<!-- <h4>Tags</h4> -->
				<% @event.tags.each do |tag| %>
				<%= link_to tag.name, events_path(:tag => tag.id), class: "btn btn-default btn-inverse btn-tags" , :method => :get%>

				<% end %>
			</div>
		</div>


		<div id="rsvp_list">
				 <%= render "events/display_rsvps",  locals: {event: @event} %>
		 </div>
		<!-- <div class="container"> -->
		</div>
			<div class="row">
				<div class="col-md-12">
					<!-- <div id="map" style='width: 100%; height: 220px;'></div> -->
				</div>
			<!-- </div> -->
		<!-- </div> -->
	</div>

	<% if is_host %>
	<%= link_to 'Edit', edit_event_path(@event) %>
	|
	<%= link_to 'Back', events_path %>
	<% end %>

</div>

<style>
	.rsvp-button {
		margin-right: 5px;
	}
	.btn-group {
		display: inline;
		margin-top: 20px;
	}
	form {
		display: inline;
	}

</style>
