
<%= render "layouts/header" %>
<div class="container">
	<div class="row">
		<% if @event.event_image_file_name.nil? %>

		<%= image_tag "missing_large.png" %>
		<% else %>
		<%= image_tag @event.event_image(:large)%>
		<% end %>

	</div>
	<div class="row">
		<%= content %>
		<% if logged_in? %>
		<div class="col-md-5 pull-right">
			<div class="btn-group pull-right" role="group" aria-label="...">
				<%= button_to 'Going', {:controller => "rsvps", :action => "create", :event_id => @event.id,  :user_id=> session[:user_id].to_i, :choice => 1}, :method=>:post, class: "btn btn-default pull-left rsvp-button"  %>
				<%= button_to 'Interested', {:controller => "rsvps", :action => "create", :event_id => @event.id,  :user_id=> session[:user_id].to_i, :choice => 2}, :method=>:post, class: "btn btn-default pull-right"  %>
			</div>
		</div>
		<%end%>
	</div>
	<div class="row main_body">
		<div class="col-md-2">

			<%= sidebar_individual_event %>

</div>
			<div id="column_results">

			</div>
			<% if !@event.description.nil? %>
			<%= @event.description.html_safe %>
			<% else %>
			<%= "This event has no description." %>
			<% end %>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="map" style='width: 100%; height: 250px;'></div>
			</div>
		</div>

		<% if is_host %>
		<%= link_to 'Edit', edit_event_path(@event) %> |
		<%= link_to 'Back', events_path %>
		<% end %>

	</div>





	<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({
	    provider: {
	      disableDefaultUI: true
	      // pass in other Google Maps API options here
	    },
	    internal: {
	      id: 'map'
	    }
	  },
	  function(){
	    markers = handler.addMarkers([
	      {
	        "lat": <%=@location[0]%>,
	        "lng": <%=@location[1]%>,
					zoom: 4,
	        "picture": {
						// https://groups.google.com/forum/#!msg/Google-Maps-API/2k3T5hwI5Ck/RRso0D2jB1oJ
	          "url": "http://maps.google.com/mapfiles/ms/icons/red.png",
	          "width":  32,
	          "height": 32
	        },
	        "infowindow": "hello!"
	      }
	    ]);
			handler.bounds.extendWith(markers);

 handler.fitMapToBounds();
  handler.getMap().setZoom(18)
	 

	  }
	);
</script>

<style>
.rsvp-button{
	margin-right: 5px;
}
.btn-group{
	display: inline;
	margin-top: 20px;
}
form {
	display: inline
}
</style>
