
<div class="container">
	<div class="row">
		<% if @event.start < Time.now %>
		<div class="alert alert-warning">
			<strong>This event has already taken place!</strong>
			Please view upcoming events
			<%= link_to "Here", events_path %>
		</div>
		<% end %>

		<div class="col-md-8">
			<div class="top-image">
			<% if @event.event_image_file_name.nil? %>
			<% if @event.image_id.blank? %>
			<%= image_tag "missing_large.png", class: "event-top-image" %>
			<%else %>
				<%= image_tag "#{@event.image_id}", class: "event-top-image" %>
			<% end %>
		<% else %>
			<%= image_tag @event.event_image(:large), class: "event-top-image"%>
			<% end %>
		</div>	</div>
		<div class="col-md-4">
			<h2><%= @event.name%></h2>
			<p id="host">by <%= @event.host.name%></p>
			<div class="travel_times">

				<p><%= fa_icon "car", style:"margin-right: 2px" %>
					<%= time_to_destination(@current_address, 	@address, {mode: "car"})%></p>
				<p><%= fa_icon "bicycle" %>
					<%= time_to_destination(@current_address, 	@address, {mode: "bicycling"} )%>
				</p>
				<p><img src="https://cloud.githubusercontent.com/assets/8117478/3538954/4fca7e98-0836-11e4-9353-bb2ee1b62b49.png" width="10px;" style="margin-right: 7px">
					<%= time_to_destination(@current_address, 	@address, {mode: "walking"} )%></p>
			</div>
			<% if logged_in? %>

			<div class="center-block">
				<div class="btn-group pull-left rsvp-button-group" role="group" aria-label="...">
					<%= render partial: 'rsvp_button', locals: {event: @event} %>
				</div>
			</div>

			<%else%>
			<div class="center-block" role="group" aria-label="...">
				<div class="btn-group pull-left rsvp-button-group" role="group" aria-label="...">
					<div class="btn-group pull-left rsvp-button-group" role="group" aria-label="...">
						<p>
							<%=button_to "Login", user_saml_omniauth_authorize_path, class: rsvp_button_color%>
							to RSVP to this event!
						</p>
					</div>
				</div>

			</div>
		<%end%>
	</div>
		</div>

	<div class="row main_body">
		<div class="col-md-2 individual_event_sidebar">

			<%= sidebar_individual_event %>

		</div>
		<div class="col-md-10 event-description">
			<% if !@event.description.nil? %>
			<%= @event.description.html_safe %>
		<% else %>
			<%= "This event has no description." %>
			<% end %>

		</div>
		<div class="row tags-section">
			<!-- <h4>Tags</h4> -->
<div class="col-md-2" style="margin-right:20px;">&nbsp;</div>
			<% @event.tags.each do |tag| %>
			<%= link_to tag.name, events_path(:tag => tag.id), class: "btn btn-default btn-inverse btn-tags" , :method => :get%>

			<% end %>
		</div>

		<!-- <p>Longitude:  <%= 		@current_latitude %></p>
				<p>Lagitude: <%= 		@current_longitude %></p> -->
	</div>
</div>
<div class="container">
<div class="row">
		<div class="col-md-12">
<div id="map" style='width: 100%; height: 220px;'></div>
</div>
	</div>
	</div>

<% if is_host %>
<%= link_to 'Edit', edit_event_path(@event) %>
|
<%= link_to 'Back', events_path %>
<% end %>

</div>
<!--
<script type="text/javascript">
var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map'}, zoom: 13}, function(){


    var start_point = [<%=@current_latitude%>, <%=@current_longitude%>];
    var end_point   = [<%=@location[0]%>, <%=@location[1]%>];

    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();

    directionsDisplay.setMap(handler.getMap());
    var request = {
      origin:      new google.maps.LatLng(start_point[0], start_point[1]),
      destination: new google.maps.LatLng(end_point[0], end_point[1]),
      travelMode:  google.maps.TravelMode.WALKING

    };

    directionsService.route(request, function(response, status) {
      if (status === google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);

      }
    });
  });</script> -->

<style>
.rsvp-button {
	margin-right: 5px;
}
.btn-group {
	display: inline;
	margin-top: 20px;
}
form {
	display: inline;
}

</style>
