<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @interest.user_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @interest.tag_id %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @interest.rank %>
</p>

<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>
