<p id="notice"><%= notice %></p>

<h1>Event Tags</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_tags.each do |event_tag| %>
      <tr>
        <td><%= event_tag.event_id %></td>
        <td><%= event_tag.tag_id %></td>
        <td><%= link_to 'Show', event_tag %></td>
        <td><%= link_to 'Edit', edit_event_tag_path(event_tag) %></td>
        <td><%= link_to 'Destroy', event_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Tag', new_event_tag_path %>
