<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_tag.event_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @event_tag.tag_id %>
</p>

<%= link_to 'Edit', edit_event_tag_path(@event_tag) %> |
<%= link_to 'Back', event_tags_path %>
