<section class="main-header text-center">
    <nav role="navigation" class="navbar navbar-default  navbar-fixed-top" id="nav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Collection of nav links and other content for toggling -->
            <%= link_to image_tag("Brandeis_seal_blue.svg.png", alt: "logo_scrolling", size: "60x60", id: 'logo_scrolling' ), '/', class: 'navbar-brand', id: 'navbar-brand-link'%>
            <%= link_to "BrandeisEvents", root_path, :class=>"navbar-brand", :id=>"logo_text" %>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <!-- <%= link_to image_tag("Brandeis_seal_white.svg.png", alt: "logo", size: "60x60", id: 'logo' ), '/', class: 'navbar-brand'%> -->


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <%= link_to "Browse Events", events_path %>
                    </li>

                    <li>
                        <%= link_to "Add Event", events_new_trumba_path %>
                    </li>
                    <% if can_host? %>
                    <li>
                        <%= link_to "Add Event", events_new_path %>
                    </li>
                    <% end %>
                    <% if is_admin? %>
                    <li>
                        <%= link_to "Admin", rails_admin_path %>
                    </li>
                <% else %>
                    <% end %>
                    <% if logged_in? %>
                    <li>
                        <%= link_to "Dashboard", current_user%>
                    </li>
                    <li>
                        <%= link_to "Sign out", logout_path %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to "Login", user_saml_omniauth_authorize_path %>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</section>

<style>





@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)  {
  .navbar-toggle{
    margin-top: 30px;
  }
  #logo_text{
    margin-top: -40px;
    font-size: 80%;
  }
  .logo_text_move_up{

    padding-top: 0px !important;
    font-size: 80%;
  }
  #logo_scrolling{
  display: none;
  }
  .navbar-default-mobile{
  background-color: #fff;
padding-top:-30px;
  min-height: 70px;
  margin-top: -40px;
  color: #000000 !important;
}

#logo_text{
  height: 30px !important;
}

 }




 .logo_text_mobile{
  margin-top: -60px !important;
   font-size: 80%;
 }
.logo_text_move_up{

  font-size: 80%;
  padding-top: 0px !important;

}

#navbar-default{
  display: none !important;
}

.black-text{
  color: #000000 !important;
}
.navbar-header{
  color: #000000 !important;
}
.hidden{
  display: none !important;
}
</style>
